#This is an example. Rename file to .env and set proper values
PROJECT_VERSION=2.0.0

#DATABASE
DB_HOST=localhost
DB_PORT=port_number
DB_USER=user
DB_PASSWORD=password
DB_NAME=database_name

#PATHS
FAST_ACQ_1_3GHZ_BIN_ARCHIVE=/path/to/archive
FAST_ACQ_1_3GHZ_FITS_ARCHIVE=/path/to/archive

#APPS SPECIFIC
BIN2FITS_FAST_ACQ_1_3GHZ_LOG_DIR=/path/to/log
BIN2FITS_FAST_ACQ_1_3GHZ_LOG_LEVEL=INFO
BIN2FITS_FAST_ACQ_1_3GHZ_CONSOLE_OUTPUT=TRUE

BIN2FITS_FAST_ACQ_1_3GHZ_WORKER_MAX_RAM_GB=8.0
BIN2FITS_FAST_ACQ_1_3GHZ_MIN_FREE_RAM_GB=4.0

#RESOURCES
OMP_NUM_THREADS=1
OPENBLAS_NUM_THREADS=1
MKL_NUM_THREADS=1
VECLIB_MAXIMUM_THREADS=1
NUMEXPR_NUM_THREADS=1
