# Project version нужен только на продакшн сервере. При локальной разработке игнорируется (это не релиз)
# PROJECT_VERSION=2.0.0

# linux user id
HOST_UID=uid_number
HOST_GID=gid_number

#DATABASE
DB_HOST=localhost
DB_PORT=port_number
#ADMIN USER
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=password
#APP USER
APP_DB_USER=user
APP_DB_PASSWORD=password
APP_DB_NAME=database_name

# CELERY
CELERY_BROKER_URL=broker_url

# CACHE
CACHE_URL=cache_url

#PATHS
FAST_ACQ_1_3GHZ_BIN_ARCHIVE=/path/to/archive
FAST_ACQ_1_3GHZ_FITS_ARCHIVE=/path/to/archive
FAST_ACQ_1_3GHZ_JSON_DATA=/path/to/json

#APPS SPECIFIC
#BACKEND
DJANGO_SECRET_KEY="django-secret-key"
BACKEND_LOG_DIR=/path/to/log
BACKEND_LOG_LEVEL=INFO

BIN2FITS_FAST_ACQ_1_3GHZ_WORKER_MAX_RAM_GB=8.0
BIN2FITS_FAST_ACQ_1_3GHZ_MIN_FREE_RAM_GB=4.0
BIN2FITS_FAST_ACQ_1_3GHZ_NUM_LAST_DAYS_MONITORING=30

#BIN2FITS_FAST_ACQ_1_3GHZ_NODB
BIN2FITS_FAST_ACQ_1_3GHZ_NODB_LOG_DIR=/path/to/log
BIN2FITS_FAST_ACQ_1_3GHZ_NODB_LOG_LEVEL=INFO
BIN2FITS_FAST_ACQ_1_3GHZ_NODB_CONSOLE_OUTPUT=TRUE
BIN2FITS_FAST_ACQ_1_3GHZ_NODB_WORKER_MAX_RAM_GB=8.0
BIN2FITS_FAST_ACQ_1_3GHZ_NODB_MIN_FREE_RAM_GB=4.0

#RESOURCES
OMP_NUM_THREADS=1
OPENBLAS_NUM_THREADS=1
MKL_NUM_THREADS=1
VECLIB_MAXIMUM_THREADS=1
NUMEXPR_NUM_THREADS=1

TZ=Europe/Moscow