# Pycharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# build and distribution
build/
dist/
develop-eggs/
*.egg-info/
*.egg
*.so

# Virtual environment
.venv/
venv/
env/

# log
*.log

# Environment variables
.env
.env.*
!.env.example

# celery
celerybeat-schedule*

# user specific
docker-compose.override.yml

*.dev